@import url("https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap");

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

body {
  margin: 0px;
}
#maintable div {
  display: inline-block;
  width: 10%;
  height: 48px;
  padding-top: 11px;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 1.5em;
  border-radius: 29px;
}

#card-sections div {
  display: inline-block;
  width: 14%;
  height: 33px;
  padding-top: 5px;
  border-radius: 29px;
}

#card-sections {
  width: 286px;
  vertical-align: top;
  display: inline-block;
  margin-left: 40px;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  display: none;
}

#maintable {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-radius: 25px;
  display: inline-block;
  margin-left: 15px;
}

#get-number {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  border-radius: 20px;
  font-family: "Anton", sans-serif;
  font-size: 1.5em;
  background-color: green;
  color: white;
  animation: wiggle 2s linear infinite;
}

#restart {
  width: 130px;
  height: 50px;
  border-radius: 20px;
  font-family: "Anton", sans-serif;
  font-size: 1.5em;
  color: white;
  background-color: red;
  margin-bottom: 5px;
}

.buttondiv {
  height: 50px;
  width: 50px;
  margin-left: 15px;
}

.colorBackg {
  background-color: chocolate;
  transition: all 0.5s ease-out;
}

#numbers {
  font-size: 1em;
  border: 2px solid;
  width: 59px;
  border-radius: 25px;
  background-color: chocolate;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 5px;
  text-align: center;
}

#title {
  margin-left: 15px;
  font-family: "Anton", sans-serif;
  margin-top: 0px;
  letter-spacing: 2px;
}

#numbersExtracted {
  font-family: "Anton", sans-serif;
  margin-bottom: 0;
}

.container {
  background-color: khaki;
}

#extractions {
  margin-left: 15px;
}

#form {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
